In [15]:
#Ai Final Project
#Team:
#Jose Esteban Guzman Alvarez ID: 101028810
#Serhii Kravtsov ID: 101132205
#
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
data = pd.read_csv("Data/heart.csv")
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [17]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [18]:
mydf=data.rename(columns={"age":" Age",
                         "sex": "Sex",
                         "cp":"Chest pain type ",
                         "trestbps":"Resting blood pressure ",
                         "chol":"Serum cholestoral",
                         "fbs":"Fasting blood sugar > 120 mg/dl",
                         "restecg":"Resting electrocardiographic results",
                         "thalach":"Maximum heart rate achieved",
                         "exang":"Exercise induced angina",
                         "oldpeak":"ST depression induced by exercise relative to rest",
                         "slope":"The slope of the peak exercise ST segment",
                         "ca":"Number of major vessels (0-3) colored by flourosopy",
                         "thal":"3 = normal; 6 = fixed defect 7= reversable defect ",
                         "target":"target"})

In [22]:
mydf.head()

,Age,Sex,Chest pain type,Resting blood pressure,Serum cholestoral,Fasting blood sugar > 120 mg/dl,Resting electrocardiographic results,Maximum heart rate achieved,Exercise induced angina,ST depression induced by exercise relative to rest,The slope of the peak exercise ST segment,Number of major vessels (0-3) colored by flourosopy,3 = normal; 6 = fixed defect 7= reversable defect,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1