In [3]:
#Ai Final Project
#Team:
#Jose Esteban Guzman Alvarez ID: 101028810
#Serhii Kravtsov ID: 101132205
#
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("Data/heart.csv")
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [12]:
maxHR = np.array(data['thalach'])

In [13]:
print(maxHR)

[150 187 172 178 163 148 153 173 162 174 160 139 171 144 162 158 172 114
 171 151 161 179 178 137 178 162 157 123 157 152 168 140 188 152 125 160
 170 165 148 151 142 180 148 143 182 172 180 156 115 160 149 151 146 175
 172 158 186 185 174 159 130 156 190 132 165 182 143 175 170 163 147 154
 202 186 165 161 166 164 184 154 179 170 160 178 122 160 151 156 158 122
 175 168 169 159 138 111 157 147 162 173 178 145 179 194 163 115 131 152
 162 159 154 173 133 161 155 170 168 162 172 152 122 182 172 167 179 192
 143 172 169 121 163 162 162 153 163 163  96 140 126 105 157 181 173 142
 116 143 149 171 169 150 138 125 155 152 152 131 179 174 144 163 169 166
 182 173 173 108 129 160 147 155 142 168 160 173 132 114 160 158 120 112
 132 114 169 165 128 153 144 109 163 158 142 131 113 142 155 140 147 163
  99 158 177 141 111 150 145 161 142 157 139 162 150 140 140 146 144 136
  97 132 127 150 154 111 174 133 126 125 103 130 159 131 152 124 145  96
 109 173 171 170 162 156 112 143 132  88 105 166 150 120 195 146 122 143
 106 125 125 147 130 126 154 182 165 160  95 169 108 132 117 126 116 103
 144 145  71 156 118 168 105 141 152 125 125 156 134 181 138 120 162 164
 143 130 161 140 146 150 144 144 136  90 123 132 141 115 174]

In [ ]:
print("Average:            ", np.average(maxHR))
print("Standard deviation: ", np.std(maxHR))
print("Minimum:            ", np.min(maxHR))
print("Maximum:            ", np.max(maxHR))
print("30th percentile: ", np.percentile(maxHR, 30))
print("Median:          ", np.median(maxHR))
print("70th percentile: ", np.percentile(maxHR, 75))