In [236]:
#Ai Final Project
#Team:
#Jose Esteban Guzman Alvarez ID: 101028810
#Serhii Kravtsov ID: 101132205
#
import numpy as np
import pandas as pd
from sklearn import tree 
import pydotplus
from IPython.display import display, Image

In [237]:
data = pd.read_csv("Data/heart.csv")
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [238]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [239]:
mydf=data.rename(columns={"age":" Age",
                         "sex": "Sex",
                         "cp":"Chest pain type ",
                         "trestbps":"Resting blood pressure ",
                         "chol":"Serum cholestoral",
                         "fbs":"Fasting blood sugar > 120 mg/dl",
                         "restecg":"Resting electrocardiographic results",
                         "thalach":"Maximum heart rate achieved",
                         "exang":"Exercise induced angina",
                         "oldpeak":"ST depression induced by exercise relative to rest",
                         "slope":"The slope of the peak exercise ST segment",
                         "ca":"Number of major vessels (0-3) colored by flourosopy",
                         "thal":"3 = normal; 6 = fixed defect 7= reversable defect ",
                         "target":"target"})

In [240]:
mydf.head()

,Age,Sex,Chest pain type,Resting blood pressure,Serum cholestoral,Fasting blood sugar > 120 mg/dl,Resting electrocardiographic results,Maximum heart rate achieved,Exercise induced angina,ST depression induced by exercise relative to rest,The slope of the peak exercise ST segment,Number of major vessels (0-3) colored by flourosopy,3 = normal; 6 = fixed defect 7= reversable defect,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [241]:
mydf.dtypes

 Age                                                     int64
Sex                                                      int64
Chest pain type                                          int64
Resting blood pressure                                   int64
Serum cholestoral                                        int64
Fasting blood sugar > 120 mg/dl                          int64
Resting electrocardiographic results                     int64
Maximum heart rate achieved                              int64
Exercise induced angina                                  int64
ST depression induced by exercise relative to rest     float64
The slope of the peak exercise ST segment                int64
Number of major vessels (0-3) colored by flourosopy      int64
3 = normal; 6 = fixed defect 7= reversable defect        int64
target                                                   int64
dtype: object

In [275]:
features=[' Age','Resting blood pressure ','Fasting blood sugar > 120 mg/dl']

In [276]:
X = mydf.loc[:, features]

In [277]:
X.shape

(303, 3)

In [278]:
y =mydf['Maximum heart rate achieved']

In [279]:
y.shape

(303,)

In [280]:
X.head()

    Age  Resting blood pressure   Fasting blood sugar > 120 mg/dl
0    63                      145                                1
1    37                      130                                0
2    41                      130                                0
3    56                      120                                0
4    57                      120                                0

In [281]:
print(logreg.fit(X,y))

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [282]:
clf = tree.DecisionTreeClassifier()
clf=clf.fit(X,y)

In [283]:
newRecord =[[20,145,1]]
print(clf.predict(newRecord))

[182]

In [300]:
test = pd.read_csv("Data/test.csv")
Test=test.rename(columns={"age":" Age",
                         "trestbps":"Resting blood pressure ",
                         "fbs":"Fasting blood sugar > 120 mg/dl",
                         })
Test.head()

    Age  Resting blood pressure   Fasting blood sugar > 120 mg/dl
0    63                      145                                1
1    37                      130                                0
2    41                      130                                0
3    56                      120                                0
4    57                      120                                0

In [286]:
X_new = Test.loc[:, features]

In [287]:
X_new.shape

(303, 3)

In [288]:
new_pred_class = logreg.predict(X_new)

In [292]:
Test.dtypes

 Age                               int64
Resting blood pressure             int64
Fasting blood sugar > 120 mg/dl    int64
dtype: object

In [302]:
kaggle_data = pd.DataFrame({'Age':test.age,
                            'Resting blood pressure':test.trestbps,
                            'Fasting blood sugar > 120 mg/dl':test.fbs,
                            'Maximum heart rate achieved':new_pred_class}).set_index('Age')
kaggle_data.to_csv('sub.csv')

In [304]:
mydf.head()

,Age,Sex,Chest pain type,Resting blood pressure,Serum cholestoral,Fasting blood sugar > 120 mg/dl,Resting electrocardiographic results,Maximum heart rate achieved,Exercise induced angina,ST depression induced by exercise relative to rest,The slope of the peak exercise ST segment,Number of major vessels (0-3) colored by flourosopy,3 = normal; 6 = fixed defect 7= reversable defect,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [305]:
compare = pd.read_csv("sub.csv")
compare.head()

,Age,Resting blood pressure,Fasting blood sugar > 120 mg/dl,Maximum heart rate achieved
0,63,145,1,150
1,37,130,0,182
2,41,130,0,173
3,56,120,0,160
4,57,120,0,160